<!--todas as questions(perguntas) pertecem a uma subject(Assunto)-->
<!--Assunto pertence a um admin-->

<p>Estou em admins_backoffice/welcome/index</p>
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Seja bem-vindo!</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!--#################################################################################-->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right"  style="width: 500px;">
            <div class="huge" style="width: 200px; margin-left: 0px"><%= @total_users %></div>
            <div style="margin-left: -20px; width: 220px">Total de usuários do sistema!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green" style="width: 350px; margin-left: 50px">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right" style="width: 350px;">
            <div class="huge" style="width: 200px"><%= @total_questions %></div>
            <div>Total de questões do sistema!</div>
<!--            ##################################################################-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>