<% if @answer.correct %>
  <h1 style="color: green;">Parabéns você ACERTOU! \o/</h1>
<% else %>
  <h1 style="color: red;">Infelimente você ERROU! :(</h1>
<% end %>

<h3 style="color: #730E15"> Em answer/question.html  apagar</h3>