<%= render partial: 'site/shared/questions' %>
<!--renderiza de shared para não ficar igual a question-->
<h2 style="color: #730E15">views/site/welcome/index - me apague</h2>
<% if user_signed_in? %>
  <p>Usuario está Logado / <%= current_user.email %></p>

<% else %>
  <p>Usuario  não Logado</p>
<% end %>

<% if admin_signed_in? %>
  <p>Adimin está Logado / <%= current_admin.email %></p>
<% else %>
  <p>Admin não Logado</p>
<% end %>


